<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swarming_subscribepro>
            <third_party_payment>
                <adyen_cc>adyen_cc_vault</adyen_cc>
                <adyen_hpp>adyen_hpp_vault</adyen_hpp>
                <adyen_apple_pay>adyen_apple_pay_vault</adyen_apple_pay>
                <adyen_google_pay>adyen_google_pay_vault</adyen_google_pay>
            </third_party_payment>
        </swarming_subscribepro>
        <payment>
            <adyen_google_pay>
                <can_use_internal>1</can_use_internal>
            </adyen_google_pay>
            <adyen_apple_pay>
                <can_use_internal>1</can_use_internal>
            </adyen_apple_pay>
            <adyen_hpp>
                <can_use_internal>1</can_use_internal>
            </adyen_hpp>
        </payment>
    </default>
</config>
