<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swarming_subscribepro>
            <third_party_payment>
                <adyen_cc>adyen_cc_vault</adyen_cc>
                <adyen_hpp>adyen_cc_vault</adyen_hpp>
            </third_party_payment>
        </swarming_subscribepro>
    </default>
</config>
