<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Swarming\SubscribePro\Model\Config\Source\ThirdPartyPaymentMethod">
        <arguments>
            <argument name="supportedMethods" xsi:type="array">
                <item name="adyen_cc" xsi:type="string">adyen_cc</item>
                <item name="adyen_hpp" xsi:type="string">adyen_hpp</item>
                <item name="adyen_apple_pay" xsi:type="string">adyen_apple_pay</item>
                <item name="adyen_google_pay" xsi:type="string">adyen_google_pay</item>
            </argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Service\Payment\PaymentProfileDataBuilderPool">
        <arguments>
            <argument name="paymentProfileDataBuilders" xsi:type="array">
                <item name="adyen_cc" xsi:type="object">Swarming\SubscribeProAdyen\Service\PaymentProfileDataBuilder</item>
                <item name="adyen_hpp" xsi:type="object">Swarming\SubscribeProAdyen\Service\PaymentProfileDataBuilder</item>
                <item name="adyen_apple_pay" xsi:type="object">Swarming\SubscribeProAdyen\Service\PaymentProfileDataBuilder</item>
                <item name="adyen_google_pay" xsi:type="object">Swarming\SubscribeProAdyen\Service\PaymentProfileDataBuilder</item>
            </argument>
        </arguments>
    </type>
</config>
