<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Swarming\SubscribePro\Model\Config\Source\ThirdPartyPaymentMethod">
        <arguments>
            <argument name="supportedMethods" xsi:type="array">
                <item name="adyen_cc" xsi:type="string">adyen_cc</item>
            </argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Service\Payment\PaymentProfileDataBuilderPool">
        <arguments>
            <argument name="paymentProfileDataBuilders" xsi:type="array">
                <item name="adyen_cc" xsi:type="object">Swarming\SubscribeProAdyen\Service\PaymentProfileDataBuilder</item>
            </argument>
        </arguments>
    </type>
</config>
