<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Vault\Model\Ui\Adminhtml\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="adyen_apple_pay" xsi:type="object">Swarming\SubscribeProAdyen\Model\Ui\Adminhtml\TokenUiComponentProviderApplePay</item>
                <item name="adyen_google_pay" xsi:type="object">Swarming\SubscribeProAdyen\Model\Ui\Adminhtml\TokenUiComponentProviderGooglePay</item>
                <item name="adyen_hpp" xsi:type="object">Swarming\SubscribeProAdyen\Model\Ui\Adminhtml\TokenUiComponentProviderAdyenHpp</item>
            </argument>
        </arguments>
    </type>
</config>
